<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>美丽湖泊</string>
		<key>URL</key>
		<string>http://img3.3lian.com/2013/s2/11/d/50.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>游历公路</string>
		<key>URL</key>
		<string>http://pic5.bbzhi.com/fengjingbizhi/gonglufengjingbizhi/gonglufengjingbizhi_441952_3.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>夕阳晚霞</string>
		<key>URL</key>
		<string>http://pic4.bbzhi.com/fengjingbizhi/guowaifengjingbizhibizhi/guowaifengjingbizhibizhi_386963_10.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>云天</string>
		<key>URL</key>
		<string>http://img1.gamedog.cn/2012/11/07/24-12110G020240-50.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>薰衣草</string>
		<key>URL</key>
		<string>http://pic4.bbzhi.com/fengjingbizhi/jialifuniyafengjingbizhi/jialifuniyafengjingbizhi_352052_11.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>蓝天白云</string>
		<key>URL</key>
		<string>http://img6.3lian.com/c23/desk2/8/30/015.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>心怡小草</string>
		<key>URL</key>
		<string>http://pic4.bbzhi.com/fengjingbizhi/1920x1080ziranfengjingbizhi/1920x1080ziranfengjingbizhi_353936_15.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>避暑山庄</string>
		<key>URL</key>
		<string>http://pic4.bbzhi.com/fengjingbizhi/aodilikuanpingfengjingbizhi/aodilikuanpingfengjingbizhi_349946_11.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>希望灯塔</string>
		<key>URL</key>
		<string>http://www.bz55.com/uploads1/allimg/120512/1_120512100218_1.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>山和水</string>
		<key>URL</key>
		<string>http://pic5.bbzhi.com/fengjingbizhi/shanshuifengjingbizhi/shanshuifengjingbizhi_435593_12.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>温情码头</string>
		<key>URL</key>
		<string>http://img.kuping.cc/data/Image/2013hjw/1yue/4hao/fjbz/15/201314104441984.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>静静漂流</string>
		<key>URL</key>
		<string>http://www.bz55.com/uploads1/allimg/120512/1_120512102347_1.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>桥</string>
		<key>URL</key>
		<string>http://image.tianjimedia.com/uploadImages/2012/272/6XSR275M7214.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>塔</string>
		<key>URL</key>
		<string>http://a0.att.hudong.com/10/15/01300534211251135636152776104.jpg</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>俯瞰</string>
		<key>URL</key>
		<string>http://image.tianjimedia.com/uploadImages/2013/091/VB2389USQ01H.jpg</string>
	</dict>
</array>
</plist>
